numpy
tqdm
torch
torch_optimizer
tensorboard
wandb
typing-extensions
git+https://github.com/Hiroshiba/acoustic_feature_extractor@2e45707b944404ee5ea3b77040f0d0fd471b8894
git+https://github.com/Hiroshiba/espnet_pytorch_library@fe0183b78b3495324e6769e340c3bd80f91e7f8e
